{% extends 'base.html' %}
{% load static %}

{% block title %}Online shop{% endblock %}

{% block content %}

    <div class="home-header">
        <h1 class="text-center">Pagard online shop</h1>
        <hr>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <form class="d-flex" role="search" action="">
              <input class="form-control me-2" type="search" placeholder="Search your item..." aria-label="Search" name="search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <p>
        {% for result in results %}
            <p><a href="{% url 'product:detail' result.meta.id %}">{{ result.name }}</a></p>
        {% endfor %}
    </p>
    <hr>

    <div class="categories">
        <h5>Categories:</h5>
        {% for c in category %}
            <div class="btn-group">
                <a href="{{ c.get_absolute_url }}" class="btn btn-danger">{{ c.name }}</a>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% for sc in c.scategory.all %}
                        <li><a class="dropdown-item" href="{{ sc.get_absolute_url }}">{{ sc.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    <br>

    <div class="product">
        {% for p in product %}
            <div class="card"
                 style="width: 18rem; display: inline-block; padding: 5px; margin-bottom: 20px">
                <img src="{{ p.image.url }}" class="card-img-top" alt="{{ p.name }}"
                     width="300px" height="200px" style="padding: 30px">
                <div class="card-body">
                    <a href="{{ p.get_absolute_url }}">
                        <h5 class="card-title text-center">{{ p.name }}</h5>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
