.jumbotron{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e9ecef;
}

div.home-header {
    color: #6b22af;
}

div.product a {
    text-decoration: none;
    color: #6b22af;
}

div.accordion-body img {
    margin-left: 26%;
    padding-bottom: 5%;
}

table.table-striped i {
    font-size: 35px;
    color: red;
}

nav.navbar i.fa-shopping-cart {
    font-size:30px;
    color: #e9ecef;
    margin-top: 6px;
    margin-left: 30px;
}

nav.navbar i.fa-shopping-cart span.cart-length {
    font-size:20px;
}

nav.navbar i.fa-home {
    font-size: 20px;
    color: #e9ecef;
}

nav.navbar i.fa-user {
    font-size: 20px;
    color: #e9ecef;
}